[coverage:run]
branch = True
omit =
    src/cross/*
    src/infra/*
    src/data/*
    src/controller/*
    src/middlewares/*
    src/perfumes/dto*

[coverage:report]
show_missing = True
skip_covered = True

[coverage:html]
directory = coverage_report
